.npmrc.dev
.env.local
.env
service.dev.json
/node_modules

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/


# deployment
*.toml